.homeLink {
  color:white;
}

.homeLink:hover {
  color:yellow;
  text-decoration: none;
}
.loadingIcon {
 position:fixed;
  top:1.8%;
  right:1.8%;
  z-index: 1000;
}

.overlay{
  position:fixed;
  top:10%;
}

h2 {
  padding: 15px 0 15px 0;
}